name: Push to Dockreg

on:
  workflow_dispatch: {}   # manual trigger
  push:
    branches: [ main ]    # optional

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Dockreg
        run: echo "${{ secrets.DOCKREG_PASSWORD }}" | docker login myapp-test.registry.dockreg.com -u docker --password-stdin

      - name: Build image
        run: docker build -t myapp-test.registry.dockreg.com/myapp/myimage:latest .

      - name: Push image
        run: docker push myapp-test.registry.dockreg.com/myapp/myimage:latest
